.header {
  background-color: #232f3e;
  color: rgb(37, 164, 210);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3ba6e0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: none;
  color: #3ba6e0;
}

.nav a:active {
  text-decoration: underline;
}

.profile {
  background-color: #2da4e5;
  padding: 5px;
  border-radius: 5px;
  color: #232f3e !important;
  font-weight: bold;
}
